.alerts .alert { border:1px solid #ccc; margin:1em 0; padding:0.4em }
.alerts .alert-success { border-color:green; color:green }
.alerts .alert-warning { border-color:orange; color:orange }
.alerts .alert-error { border-color:red; color:red }
