{% extends "base.twig" %}

{% block content %}
    <ul>
        {% for item in items %}
            <li><a href="{{baseurl}}/{{item.id}}">{{item.title}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}