{% extends "base.twig" %}

{% block content %}
    <ul class="items">
        {% for item in items %}
            <li><a href="{{baseurl}}/{{item.id}}">{{item.title|raw}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}