{%extends "base.twig"%}

{% block content %}

    <p>
        Welcome to {{site_title}}.
        Click the 'Install' button below to install or upgrade the application.
    </p>

    <form action="{{baseurl}}/install" method="post" class="form">
        <input type="submit" value="Install" class="btn btn-primary" />
    </form>

{%endblock%}
